<%= form_with(model: radio_show, local: true) do |form| %>
  <% if radio_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(radio_show.errors.count, "error") %> prohibited this radio_show from being saved:</h2>

      <ul>
      <% radio_show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    Hosts:<br>
    <% @hosts.each do |host| %>
      <div class="form-check form-check-inline">      
        <%= check_box_tag "hosts[#{host.id}]", "1", if radio_show.has_host(host.id) then true else false end, class: "form-check-input", id: "checkhosts#{host.id}" %>
        <%= label_tag host.name, nil, class: "form-check-label", for: "checkhosts#{host.id}" %>
      </div>
    <% end %>
    <small class="form-text text-muted">Select the hosts for this show</small>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
