<h1>Agregar horario para <%= @radio_show.name %></h1>
<%= form_tag "/radio_shows/" + @radio_show.id.to_s + "/schedules/create", method: "POST" do %>
	<div class="form-group">
		<%= label_tag "Horario de inicio" %>
		<%= text_field_tag :start_time, nil, type: "time", class: "form-control" %>
	</div>
	<div class="form-group">
		<%= label_tag "Horario de fin" %>
		<%= text_field_tag :end_time, nil, type: "time", class: "form-control" %>
	</div>
	<div class="form-group">
	  Days:<br>
	  <% @days.each_with_index do |day, index| %>
	    <div class="form-check form-check-inline">      
	      <%= check_box_tag "days[#{index}]", true, false, class: "form-check-input", id: "days#{index}" %>
	      <%= label_tag day, nil, class: "form-check-label", for: "days#{index}" %>
	    </div>
	  <% end %>
	  <small class="form-text text-muted">Select the days for this show</small>
	</div>
	<div class="form-group">
		<%= submit_tag "Crear" %>
	</div>
<% end %>